build
*.a
*.pbxuser
*.mode1v3
.DS_Store
xcuserdata
*.svn
pulse.xml
ivy.xml
build.properties
Version.txt
build.xml
.fseventsd
.TemporaryItems
*.o
*.so
*.so.1
*.dSYM
dep/libsoldout*/*.d
dep/libsoldout-1.3/depends
dep/libsoldout-1.3/mkd2html
dep/libsoldout-1.3/mkd2latex
dep/libsoldout-1.3/mkd2man
test/*.tst
*.class
