build
*.pbxuser
*.mode1v3
.DS_Store
xcuserdata
*.svn
pulse.xml
ivy.xml
build.properties
Version.txt
build.xml
.fseventsd
.TemporaryItems
*.o
*.so
*.so.1
deps/libsoldout*/*.d
deps/libsoldout-1.3/depends
deps/libsoldout-1.3/mkd2html
deps/libsoldout-1.3/mkd2latex
deps/libsoldout-1.3/mkd2man
test/*_tests
