body, input, select, textarea, button {
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
	line-height: 1.4;
}

#frame {
	width:920px;
	margin-left:auto;
	margin-right:auto;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}

pre code {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
}

.sample {
	float: left;
}

.clearBoth { clear:both; }

#markdownsample {
	width: 260px;
	padding-top:30px;
	padding-left:20px;
	padding-right:20px;
}
